.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4vmin;
}

.App-header {
  background-color: #f2f4f7;
  min-height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 1vmin);
  width: 100%;
  color: white;
}

.App-header * {
  margin: 1vw;
  /* justify-content: right; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signInButton {
  background-color: #f2f4f7; 
  color: black; 
  border: 2px solid #008CBA;
  transition-duration: 0.4s;
}

.signInButton:hover {
  background-color: #008CBA;
  color: white;
}

button {
  background-color: #f2f4f7; 
  color: black; 
  border: 2px solid #008CBA;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #008CBA;
  color: white;
}